.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}
header {
  display: flex;
  flex-direction: column;
}

.leslie {
  display: inline-flex;
  width: 5%;
  position: fixed;
  top: 0;
}

.typewriter-container:hover {
  cursor: pointer;
}

.hidden {
  height: 140px;
}

.footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 15px;
}

.intro {
  height: calc(10px + 2vmin);
}
.App-logo {
  height: 80px;
  pointer-events: none;
  animation: App-logo-spin infinite 5s linear;
}
/* elements to animate */
.logo-wrap {
  position: fixed;
  animation: Move-to-title-left 3s forwards 4s;
}

.typewriter-container {
  position: fixed;
  animation: Move-to-title 4s forwards 2s;
}
/* animations */
@keyframes App-logo-spin {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}

@keyframes Move-to-title-left {
  from {
    top: 50%;
    left: 50%;
  }
  to {
    top: 0;
    left: 20%;
  }
}

@keyframes Move-to-title {
  from {
    top: 50%;
    right: 50%;
  }
  to {
    top: 2%;
    right: 15%;
  }
}

@keyframes Shrink {
  to {
    transform: scaleZ(10px);
  }
  from {
    transform: scaleZ(40px);
  }
}
@media (max-width: 480px) {
  .leslie {
    left: 100px;
    top: 90px;
  }
}
/* @media (min-width: 635px) {
  .logo-wrap {
    animation: Move-to-title 4s forwards;
  }
}

@media (min-width: 635px) {
  .typewriter-container {
    animation: Move-to-title-left 3s forwards 4s;
  }
}

@media (max-height: 635px) {
  .logo-wrap {
    animation: Move-to-title 4s forwards;
  }
}

@media (max-height: 635px) {
  .typewriter-container {
    animation: Move-to-title-left 3s forwards 4s;
  }
} */
