.App {
  text-align: center;
  background-color: #282c34;
}
.App-link {
  color: #61dafb;
}
/* elements to animate */
.App-logo {
  height: 80px;
  pointer-events: none;
  transition: transfrom 300ms ease 3s;
  animation: App-logo-spin infinite 5s linear;
}
.logo-trigger {
  /* transform: translate(260px, -560px); */
  animation: Move-to-title 4s forwards;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.New-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}
@keyframes Move-to-title {
  to {
    transform: translate(260px, -560px);
  }
  from {
    transform: translate(0, 0);
  }
}

@keyframes Shrink {
  to {
    transform: scaleZ(10px);
  }
  from {
    transform: scaleZ(40px);
  }
}
