.App {
  text-align: center;
  background-color: #282c34;
}
.App-link {
  color: #61dafb;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* elements to animate */
.logo-trigger {
  animation: Move-to-title 4s forwards 8s;
}

.App-logo {
  height: 80px;
  pointer-events: none;
  transition: transfrom 100ms linear 3s;
  animation: App-logo-spin infinite 5s linear;
}

/* animations */
@keyframes App-logo-spin {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}

@keyframes Move-to-title {
  to {
    transform: translate(260px, -590px);
  }
  from {
    transform: translate(0, 0);
  }
}

@keyframes Shrink {
  to {
    transform: scaleZ(10px);
  }
  from {
    transform: scaleZ(40px);
  }
}
