.App-logo {
  animation: moveToTitle linear 4s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: moveToTitle linear 4s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: moveToTitle linear 4s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: moveToTitle linear 4s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: moveToTitle linear 4s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes moveToTitle {
  0% {
    transform: translate(78px, -196px);
  }
  100% {
    transform: translate(78px, -196px);
  }
}

@-moz-keyframes moveToTitle {
  0% {
    -moz-transform: translate(78px, -196px);
  }
  100% {
    -moz-transform: translate(78px, -196px);
  }
}

@-webkit-keyframes moveToTitle {
  0% {
    -webkit-transform: translate(78px, -196px);
  }
  100% {
    -webkit-transform: translate(78px, -196px);
  }
}

@-o-keyframes moveToTitle {
  0% {
    -o-transform: translate(78px, -196px);
  }
  100% {
    -o-transform: translate(78px, -196px);
  }
}

@-ms-keyframes moveToTitle {
  0% {
    -ms-transform: translate(78px, -196px);
  }
  100% {
    -ms-transform: translate(78px, -196px);
  }
}
